@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(238, 238, 238, 0.75);
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #222831;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
  color: #eee;
}

.title span {
  color: #00adb5;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.social__link {
  background-color: #393e46;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.social__link:hover {
  background-color: #50545a;
}

.button {
  text-align: center;
  font-weight: 700;
  line-height: 27px;
  padding: 0.625rem 2rem;
  color: #eee;
  background-color: #00adb5;
  border-radius: 1.5rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background: rgba(57, 62, 70, 0.75);
}

.button_dark {
  background: rgba(57, 62, 70, 0.75);
}

.button_dark:hover {
  background-color: #00adb5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: rgba(34, 40, 49, 0.8);
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header__logo {
  font-weight: 700;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  color: #eee;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: #00adb5;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
}

.footer__menu:not(:last-child) {
  margin-bottom: 1.75rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__link {
  line-height: 24px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.no-webp .main{
  background: url("../img/bg.png") 0 0 repeat; }

.main {
  padding-top: 6.25rem;
  padding-bottom: 6.125rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 1.25rem;
}

.main__title {
  font-weight: 700;
  font-size: 6rem;
  line-height: 100%;
  color: #eee;
  text-transform: uppercase;
}

.main__title:not(:last-child) {
  margin-bottom: 3rem;
}

.main__title span {
  color: #00adb5;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.main__cv-button span {
  display: inline-block;
  background: url("../img/main/download.svg") right no-repeat;
  padding-right: 2.125rem;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.8%;
          flex: 0 0 42.8%;
  text-align: center;
}

.main__image img {
  max-width: 100%;
}

.about {
  padding-top: 5.8125rem;
  padding-bottom: 6.125rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.about__text {
  max-width: 24.375rem;
  line-height: 150%;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
  overflow: hidden;
}

.about__image img {
  max-width: 100%;
}

.no-webp .works{
  background: url("../img/bg.png") 0 0 repeat; }

.works {
  padding-top: 5.8125rem;
  padding-bottom: 6.125rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.works__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-work__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.items-work__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  gap: 2.8125rem;
}

.items-work__item {
  background: rgba(57, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 2.8125rem;
}

.items-work__image {
  position: relative;
  padding-bottom: 59.6226415094%;
}

.items-work__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: scale 0.8s ease 0s;
  transition: scale 0.8s ease 0s;
}

.items-work__image img:hover {
  scale: 1.05;
}

._tab-active {
  background-color: #00adb5;
}

.contacts {
  padding-top: 5.8125rem;
  padding-bottom: 6.125rem;
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contacts__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.contacts__image {
  text-align: center;
}

.contacts__image img {
  max-width: 100%;
}

.contacts__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form__item:nth-child(3) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.form__item:nth-child(4) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.form__label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 700;
  color: #eee;
}

.form__input {
  background: rgba(57, 62, 70, 0.5);
  border-radius: 1rem !important;
  width: 100%;
  padding: 0 1.5rem;
  color: #fff;
  height: 3.6875rem;
}

.form__input::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input::-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input::placeholder {
  color: rgba(238, 238, 238, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form textarea.form__input {
  height: 17.5rem;
  resize: vertical;
  padding: 1.5rem;
}

.form__button span {
  display: inline-block;
  background: url("../img/contact/send.svg") right no-repeat;
  padding-right: 2.125rem;
}

.form__error {
  margin-top: 0.4375rem;
  color: red;
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 3.25rem;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.5625rem;
  }

  .main__content {
    padding-right: 0rem;
  }

  .main__title {
    text-align: center;
  }

  .main__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .about {
    padding-top: 4.375rem;
    padding-bottom: 2.8125rem;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__title {
    text-align: center;
  }

  .about__text {
    max-width: none;
    text-align: center;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .works {
    padding-top: 4.375rem;
    padding-bottom: 2.8125rem;
  }

  .works__title {
    text-align: center;
  }

  .items-work__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts {
    padding-top: 4.375rem;
    padding-bottom: 2.8125rem;
  }

  .contacts__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .contacts__title {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.8125rem;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .main {
    padding-top: 5.625rem;
    padding-bottom: 2.8125rem;
  }

  .main__title {
    font-size: 4.0625rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .about {
    padding-top: 3.75rem;
    padding-bottom: 2.1875rem;
  }

  .works {
    padding-top: 3.75rem;
    padding-bottom: 2.1875rem;
  }

  .contacts {
    padding-top: 3.75rem;
    padding-bottom: 2.1875rem;
  }

  .contacts__container {
    gap: 0.625rem;
  }

  .contacts__image {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .main__title {
    font-size: 2.8125rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .about {
    padding-top: 2.5rem;
    padding-bottom: 1.5625rem;
  }

  .works {
    padding-top: 2.5rem;
    padding-bottom: 1.5625rem;
  }

  .items-work__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts {
    padding-top: 2.5rem;
    padding-bottom: 1.5625rem;
  }

  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.webp .main{ background: url(../img/bg.webp) 0 0 repeat; }

.webp .works{ background: url(../img/bg.webp) 0 0 repeat; }